* {
  box-sizing: border-box;
}

:root {
  --poster-height: calc((var(--view-width) / 2480) * 3508);
}

body {
  margin: 0;
  overflow-x: hidden;
}

.poster {
  position: relative;
  background-size: cover;
  background-image: url(assets/background-no-text.jpg);
  width: var(--view-width);
  height: var(--poster-height);
}

.posterlite {  position: relative;
  background-size: cover;
  background-image: url(assets/final-image.jpg);
  width: var(--view-width);
  height: var(--poster-height);
  opacity:80%;
  z-index: 10;
}

.letter {
  position: absolute;

  z-index: 10;
  transform-origin: top left; /* ensures it scales from top-left corner */
}

/* positions converted to % */

#letter1 {
  top: 27.5%;
  left: 18.3%;
  transform: scale(3.2); /* adjust as needed */
}

#letter2 {
 top: 14.4%;
  left: 19.4%;
  transform: scale(3.1); /* adjust as needed */
}

#letter3 {
 top:-1.4%;
  left: 19.8%;
  transform: scale(3.1); /* adjust as needed */
}

#letter4 {
 top:14.8%;
  left: 59.9%;
  transform: scale(3.1); /* adjust as needed */
}

#letter5 {
 top:3%;
  left: 71.9%;
  transform: scale(3.1); /* adjust as needed */
}

#letter6 {
 top:59.4%;
  left: 33.9%;
  transform: scale(3.1); /* adjust as needed */
}

#letter7 {
 top:58.1%;
  left: 48.1%;
  transform: scale(3.1); /* adjust as needed */
}

#letter8 {
 top:54.1%;
  left: 53.6%;
  transform: scale(3.1); /* adjust as needed */
}

#letter9 {
 top:52.9%;
  left: 63.7%;
  transform: scale(3.1); /* adjust as needed */
}

#letter10 {
 top:48%;
  left: 73.8%;
  transform: scale(3.1); /* adjust as needed */
}

#letter11 {
top:43.9%;
  left: 85%;
  transform: scale(3.1); /* adjust as needed */
}